name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

# For programming language versions supported by Leetcode
# https://support.leetcode.com/hc/en-us/articles/360011833974-What-are-the-environments-for-the-programming-languages
jobs:
  python-build:
    name: Python 3.11
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Setup latest version of uv
        uses: astral-sh/setup-uv@v7
      - name: Lint with ruff
        run: uv run ruff check python
      - name: Type check with mypy
        run: uv run mypy python
      - name: Import check with isort
        run: uv run isort --check-only python

  java-build:
    name: Java 25
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Java 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'zulu'
      - name: Build source with Gradle
        run: |
          gradle build
