name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

# For programming language versions supported by Leetcode
# https://support.leetcode.com/hc/en-us/articles/360011833974-What-are-the-environments-for-the-programming-languages
jobs:
  python-build:
    name: Python
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup latest version of uv
        uses: astral-sh/setup-uv@v7
      - name: Run lint
        run: uv run ruff check python
      - name: Run type hints
        run: uv run mypy python

  java-build:
    name: Java
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Java 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'zulu'
          cache: 'gradle'
      - name: Build source with Gradle
        run: |
          gradle build
